/*CSS reset*/
*{ 
margin: 0; 
padding: 0;
box-sizing: circle;
font-family: 'Jomolhari' }
body{
background-color: white;
background-image: url("../images/rainbow.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;

}

/*target the element with the class name container*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
/* target the html element h1 */ 
h1 {
	color: darkblue; 
	background-color: #3333;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 2px;
	font-family: 'Jomolhari';
	text-underline-position: thick;
	margin-bottom: 30px;


} 
/*end of h1 styling*/

/*start of h2 styling*/
h2 {
	color: white;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding: 10px;
	background-color: black;
	border-radius: 20px;}

/*end of h2 styling*/

/*target the html element with class attribute bio*/
.bio{
	font-size: 20px;
	color: white;
	line-height: 30px;
	background-color: rgba(51,51,51, 0.5);
    border-spacing: 80px;
     }

	/*end of bio*/
	/*target the html attribute id with a value me*/
#me{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border-width: 5px;
	border-color: skyblue;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 50px; 
	align-content: center;


}
	/*end of me*/
